<!-- src/app/auth/login/login.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Acceder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper ion-padding">
    <div class="image-container ion-margin-bottom">
      <img src="assets/black-girl-read.png" alt="Bienvenido!" class="welcome-image">
    </div>

    <h2 class="ion-text-center">Bienvenido!</h2>

    <ion-text color="primary" class="ion-text-center">
      <p>{{ message }}</p>
    </ion-text>

    <div class="form-container">
      <ion-item class="custom-input-item">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item class="custom-input-item ion-margin-top">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder=""></ion-input>
      </ion-item>

      <!-- "Olvidaste tu contraseña?" debe ser presionable y azul -->
      <p class="ion-text-center ion-margin-top forgot-password">
        <!-- Se hace clickeable con (click) y se le da color con color="primary" -->
        <ion-text color="primary" (click)="goToPasswordReset()">Olvidaste tu contraseña?</ion-text>
      </p>

      <ion-button expand="block" class="ion-margin-top main-button" (click)="login()" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
        <span *ngIf="!loading">ACCEDER</span>
      </ion-button>

      <!-- "NO TIENES CUENTA? REGISTRATE!" debe estar más separado y "REGISTRATE!" azul -->
      <!-- Se añade ion-margin-top para la separación y color="primary" para REGISTRATE! -->
      <p class="ion-text-center no-account ion-margin-top">
        NO TIENES CUENTA? <ion-text color="primary" (click)="goToRegister()">REGISTRATE!</ion-text>
      </p>
    </div>
  </div>
</ion-content>
