.register-content {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%; // ⬅️ evita colapsos en Android
  width: 100%;
}

.top-image-container {
  width: 100%;
  max-width: 150px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-top-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  background-color: black;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--ion-color-dark);
  text-align: center;
}

.user-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;

  .user-icon {
    font-size: 70px;
    color: var(--ion-color-primary);
  }
}

ion-text.hidden-message {
  display: none;
}

ion-text:not(.hidden-message) {
  display: block;
  text-align: center;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }
}

.form-container {
  width: 100%;
  max-width: 350px;
  margin-top: 20px;
}

ion-item.custom-input-item {
  margin-bottom: 20px;
}

.privacy-checkbox {
  margin-top: 10px;
  margin-bottom: 20px;
  --padding-start: 0;

  ion-checkbox {
    --background-checked: var(--ion-color-primary);
    --border-color: var(--ion-color-medium);
    --border-radius: 4px;
  }

  ion-label {
    font-size: 14px;
    margin-left: 8px;
    color: var(--ion-color-dark);
    white-space: normal;
  }

  .privacy-link {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
  }
}

.main-button {
  width: 100%;
  margin-top: 20px;
}
